# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask environment
instance/
.env
*.env
*.flaskenv

# Virtual environments
venv/
env/
apienv/

# pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Flask uploads
uploads/

# Jupyter Notebook
.ipynb_checkpoints/

# Pyenv
.python-version

# Pipenv
pipenv.lock
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# Other editors
*.swp
*.swo
*.orig
*.bak
*.tmp

# macOS
.DS_Store

# Windows
Thumbs.db
celerybeat-schedule
